{% extends "MongoExampleBundle::layout.html.twig" %}

{% block content %}

    {{ item.text|escape }}

    <a href="{{ path('mongo_example_homepage') }}">Back</a>

    <h3>Comments</h3>

    {% for comment in item.comments %}

        <dl>
            <dt>{{ comment.date|date("d.m.Y") }} &mdash; {{ comment.name }}</dt>
            <dd>{{ comment.text }}</dd>
        </dl>

    {% endfor %}

{% endblock %}