{% extends "MongoExampleBundle::layout.html.twig" %}

{% block title %}{{ content.title }}{% endblock %}

{% block content %}

    {{ content.text|escape }}

    <a href="{{ path('mongo_example_homepage') }}">Back</a>

    <h3>Comments</h3>

    {% for comment in content.comments %}

        <dl>
            <dt>{{ comment.date|date("d.m.Y H:i") }} &mdash; {{ comment.name }}</dt>
            <dd>{{ comment.text }}</dd>
        </dl>

    {% endfor %}

    <form method="post" {{ form_enctype(form) }}>

        {{ form_errors(form) }}
        {{ form_rest(form) }}

        <button type="submit">Comment</button>
    </form>

{% endblock %}